<div class="login-container">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <label for="email">Email</label>
    <input type="email" name="email" [(ngModel)]="form.email" required #email= "ngModel">
    <em *ngIf="email.invalid && (email.touched || email.dirty)">You need to enter a valid email to continue ⤴</em>

    <label for="password">Password</label>
    <input type="password" name="password" [(ngModel)]="form.password" required #pwd="ngModel">
    <em [hidden]="pwd.valid">You need to enter your password to continue ⤴ </em>

    <button type="submit" [disabled]="myForm.form.invalid">
      <ng-container *ngIf="isLoading()">Loading...</ng-container>
      <ng-container *ngIf="!isLoading()">Log in</ng-container>
    </button>

  </form>
</div>
